:root {
    --product-background-color: #F8FAE5; 
    --product-text-color: #B19470;
    --product-button-background-color: #B1A470;
    --product-button-text-color: #76453B;
  }
  
  .product {
    background-color: var(--product-background-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product h2 {
    color: var(--product-text-color);
    margin-top: 0;
  }
  
  .product p {
    color: var(--product-text-color);
    margin: 10px 0;
  }
  
  .product p.price {
    font-weight: bold;
  }
  
  .product button {
    background-color: var(--product-button-background-color);
    color: var(--product-button-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product button:hover {
    background-color: #9D905F;
  }
  